@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --main-rgb: 245, 138, 7;
}

html {
  -ms-overflow-style: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
  height: 0;
  width: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

p,
a {
  font-size: 3rem;
  font-weight: 500;
  margin-block-start: 4rem;
}

a {
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  width: 100%;
  border-bottom: 2px solid rgb(var(--main-rgb));
  transition: 300ms all ease-in-out;
}

a:hover::after {
  width: 0;
}

footer p {
  font-size: 1rem;
  margin-block-start: 0.2rem;
}

#logo {
  position: fixed;
  z-index: 500;
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
